<h3>Задание:</h3> Найти все числа, которые являются автоморфными
<h4>Форма</h4>
<%= form_with url: "/lr8c/view", method: :get do |form| %>
  <p><%= form.label :query, "Введите n" %></p>
  <p><%= form.number_field :num, :class => 'form-control' %></p>
  <p><%= form.submit "Найти", class:"btn btn-primary" %></p>
<% end %>